:root{
    --fs-22:22px;
    --fs-24:24px;
    --fs-72:72px;
    --fs-30:30px;
    --fs-20:20px;
    --fs-16:16px;
    --fs-26:26px;
    --fs-18:18px;
    /* font-weight */
    --fw-400:400;
    --fw-700:700;
    --fw-600:600;
    --fs-500:500,
    /* -------color--------- */
      --sky-blue: #1BABFE;
}