@import url(./root.css);
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -12px;
  margin-right: -12px;
}
.d-flex {
  display: flex;
}
.align-item-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.mb-0{
  margin-bottom: 0;
}
.flex-coloum{
  flex-direction: column;
}
.col-lg-6{
  width:50%;
  padding-left: 12px;
  padding-right: 12px;
}
.pos-relative{
  position: relative;
}
.pos-fixed{
  position: fixed;
  top: 0;
}
.pos-absolute{
  position: absolute;
}
.z-10 {
  z-index: 10;
}
.w-100 {
  width: 100%;
}
.pos-relative{
  position: relative;
}
.fs-22 {
  font-size: var(--fs-22);
}
.fs-24 {
  font-size: var(--fs-24);
}
.fs-72 {
  font-size: var(--fs-72);
}
.fs-30 {
  font-size: var(--fs-30);
}
.fs-20 {
  font-size: var(--fs-20);
}
.fs-16 {
  font-size: var(--fs-16);
}
.fs-26 {
  font-size: var(--fs-26);
}
.fs-18 {
  font-size: var(--fs-18);
}
.fw-400 {
  font-weight: var(--fw-400);
}
.fw-700 {
  font-weight: var(--fw-700);
}
.fw-600 {
  font-weight: var(--fw-600);
}
.fs-500{
  font-weight: var(--fw-500);
}
.sky-blue{
  color: var(--sky-blue);
}
.gap-30 {
  gap: 30px;
}
.pt-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.menu{
  background: #0000001A;

}
.nav-btn {
  color: #ffffff;
  border: none;
  width: 181.94px;
  height: 53.42px;
  top: 21px;
  left: 1438px;
  padding: 14px 34px 14px 34px;
  gap: 10px;
  border-radius: 79px;
  opacity: 0px;
  background: linear-gradient(149.67deg, #815cc8 29.44%, #1babfe 81.54%);
  display: flex;
  transition: all 300ms linear;
}
.nav-btn:hover {
  box-shadow: 0px 8px 30px 0px #1babfe;
}
.bg-img {
  background-image: url(/assets/images/bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.nav-links {
  color: #ffffff;
  font-family: Josefin Sans;
 
  line-height: 22px;
}
.Gilded-heading{
  color: #1BABFE;
}
.hero-section-heading{
  max-width: 553px;
  color: #ffffff;
  
}
/* .flex-grow{
  flex-grow: 1;
} */
.pt-163{
  padding-top: 163px;
}
.gap-48{
  gap: 48px;
}
.pt-56{
  padding-top: 56px;
}
.card-heading{
  font-family: Josefin Sans;
color: #ffffff;
line-height: 30px;
text-align: left;

}
.ml-76{
  margin-left: 76px;
}
.card{
width: 397px;
height: 120%;
top: 159px;
left: 1098px;
gap: 0px;
border-radius: 8px;
border: 1px;
opacity: 0px;
border: 0.1px solid #FFFFFF
}
.card-amount{
color: #1BABFE;
font-family: Josefin Sans;
line-height: 20px;
text-align: left;


}
.border-top{
  border-top:none ;
}
.mt-163{
  margin-top: 163px;
}
.line{
  width: 397px;
height: 2px;
top: 228px;
left: 1153px;
gap: 0px;
opacity: 0px;
background: #C4C4C4;
margin-top: 28px;
}
.line2{
  width: 239px;
height: 2px;
top: 228px;
left: 1099px;
gap: 0px;
opacity: 0px;
background: linear-gradient(180deg, #815CC8 0%, #1BABFE 100%);

}
.gap-10{
gap: 10px;
}
.text-center{
  text-align: center;
}
.day{
  color: #ffffff;
}
.dots{  
width: 5px;
height: 26px;
opacity: 58%;
}
.border-bottom{
  width: 395px;
height: 0px;
border: 0.4px solid #8C8C8C
}
.token{
font-family: Josefin Sans;
line-height: 18px;
text-align: left;
color: #ffffff;
}
.card-token{
  font-family: Josefin Sans;
color: #ffffff;
opacity: 60%;
line-height: 18px;
text-align: left;
}
.card-counting{
color: #FFFFFF;
font-family: Josefin Sans;
line-height: 24px;
text-align: left;
}
.crad-box-line{

width: 0;
height: 66px;
border: 0.4px solid #8C8C8C;
}
.card-btn-linear{
color: #ffffff;
  border: none;
  width: 181.94px;
  height: 53.42px;
  top: 21px;
  left: 1438px;
  padding: 14px 34px 14px 34px;
  gap: 10px;
  border-radius: 79px;
  opacity: 0px;
  background: linear-gradient(149.67deg, #815cc8 29.44%, #1babfe 81.54%);
  display: flex;
  transition: all 300ms linear; 
  top: 50%;
  left: 50%;
   margin-top: 35px;
}
.card-btn-linear:hover{
    box-shadow: 0px 8px 30px 0px #1babfe;
}
.pt-20{
  padding-top: 20px;
}
.pl-17{
  padding-left: 17px;
}
.pb-19{
  padding-bottom: 19px;
}
.pt-16{
  padding-top: 16px;
}
.pr-14{
  padding-right: 14px;
}
.pb-15{
  padding-bottom: 15px;
}
.pt-24{
  padding-top: 24px;
}
.blur-box {
    max-width: 397px;
    width: 100%;
    border-radius: 8px;
}

.blur-box-head {
    width: 100%;
    height: 70px;

}

.blur-box-time-out {
    height: 70px;
    width: 100%;
}


.blur-box-name {
    font-family: "Josefin Sans", sans-serif;
    font-size: var(--fs-3xl);
    font-weight: 600;
    line-height: 30px;
    color: var(--light);
}

.blur-box-head-number {
    font-family: "Josefin Sans", sans-serif;
    font-size: var(--fs-md);
    font-weight: 600;
    line-height: 20px;
    color: var(--primary);
}

.blur-box-sub-heading {
    font-family: "Josefin Sans", sans-serif;
    font-size: var(--fs-xsm);
    font-weight: 400;
    line-height: 16px;
    color: var(--secondary);
}

.blur-box {
    max-width: 397px;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: transparent;
    border: 1px solid var(--null);
}

.progress-line-blue {

    width: 75%;
    height: 2px;
    background-color: var(--primary);
}

.progress-line-light {

    width: 25%;
    height: 2px;
    background-color: var(--gray);
}

.blur-box-time {
    font-family: "Josefin Sans", sans-serif;
    font-size: var(--fs-2xl);
    font-weight: 600;
    line-height: 26px;
    color: var(--light);
}

.blur-box-text {
    font-family: "Josefin Sans", sans-serif;
    font-size: var(--fs-sm);
    font-weight: 400;
    line-height: 18px;
    color: var(--light);
}

.cap-text {
    font-family: "Josefin Sans", sans-serif;
    font-size: var(--fs-sm);
    font-weight: 400;
    color: var(--gray);
}

.cap-number {
    font-family: "Josefin Sans", sans-serif;
    font-size: var(--fs-xl);
    font-weight: 400;
    color: var(--light);
}
.after-border::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 70px;
    top: -33%;
    left: 140%;
    background-color: var(--light-gray);

}
.h-70px{
  height: 70px;
}
.px-3{
  padding-left: 16px;
}

/* -----------------------------------responsive-------------------------------- */
@media (max-width: 992px) {
  label[for="menuIcon"] {
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: fixed;
    z-index: 10;
    right: 2%;
    margin-top: 10px;
  }
  .smallscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0%;
    right: -100%;
    transition: all 200ms linear;
    z-index: 1;
  }

  label[for="menuIcon"] > span {
    width: 100%;
    height: 3px;
    background-color: rgba(1, 200, 255, 1);

    border-radius: 2px;
  }
  input[type="checkbox"]:checked ~ .smallscreen {
    right: 0;
    background-color: rgba(30, 113, 255, 1);
    width: 100%;
  }
}
